* Shows the compliance in percentage for selected controls
<script setup lang="ts">
import { ref } from "vue";
import * as data from "../data/data";
import PieChart from "./PieChart.vue";

interface ControlPercentageProps {
  evals: any[]
}

let selectedControls = [];
let comp = ref(-1);
let chartdata = {
  labels: ["Compliant", "Not Compliant"],
  datasets: [
    {
      backgroundColor: ["#41B883", "#E46651", "#00D8FF", "#DD1B16"],
      data: [0, 0],
    },
  ],
};

const props = defineProps<ControlPercentageProps>();
const controls = await data.getControlsFromEval(props.evals);

function calc() {
  comp.value = data.getPercentagePerControl(
    props.evals,
    selectedControls
  );
  chartdata.datasets[0].data = [comp.value, 100 - comp.value];
}
</script>

<template>
  <p v-for="item in controls">
    <input type="checkbox" :value="item" v-model="selectedControls" />
    <span class="checkbox-label"> {{ item }} </span> <br />
  </p>

  <button type="button" class="btn btn-success" v-on:click="calc">
    Calculate compliance
  </button>

  <div v-if="comp == -1"></div>
  <div v-else>
    <PieChart :chartData="chartdata" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <h5>{{ comp }}% Compliant</h5>
    <h5>{{ 100 - comp }}% Not Compliant</h5>
  </div>
</template>

<style>
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
</style>