<script setup lang="ts">
export interface ValueTableProps {
  value: any;
}
defineProps<ValueTableProps>();
</script>
<template>
  <table>
    <tr class="values" v-for="entry of Object.entries(value)">
      <td class="pe-4">{{ entry[0] }}</td>
      <td>{{ entry[1] }}</td>
    </tr>
  </table>
</template>

<style>
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
tr.values {
  border: solid thin;
}
table td {
  word-wrap: break-word;
  overflow-wrap: break-word; 
}
</style>