* Home and default view. Shows a summary of the evaluation
<script setup lang="ts">
import ComplianceOverview from "../components/ComplianceOverview.vue";
import * as data from "../data/data";
import * as auth from "../auth/auth";
</script>

<template>
  <div v-if="!auth.isAuthenticated() && !data.getTestdata()">
    <p>Please log in or use testdata to continue</p>
  </div>
  <div v-else id="overview">
    <ComplianceOverview />
  </div>
</template>

<style>
#overview {
  text-align: center;
}
</style>