* page for sucessful logouts
<script setup lang="ts">
import { settings, OidcClient } from "../auth/settings";
import { log } from "../auth/auth";
import * as auth from "../auth/auth";
import { useRouter, useRoute } from "vue-router";

var message = "loggedout";
const router = useRouter();
const route = useRoute();

var url = route.fullPath;
message = "Logged out.";
new OidcClient(settings)
  .processSignoutResponse(url)
  .then(function (response) {
    log("signout response", response);
    auth.setToken(null);
  })
  .catch(function (err) {
    console.error(err);
    log(err);
  });
// Go back to start page
auth.setToken(null);
router.push("/");
</script>

<template>
  <div id="logout">
    <h1>{{ this.message }}</h1>
  </div>
</template>