* Here general Settings can be set
<script setup lang="ts">
import * as data from "../data/data";

function useTest(test) {
  data.setTestdata(test);
  location.reload();
}

function runLocal(port) {
  localStorage.setItem("runLocal", "true");
  localStorage.setItem("localSiteURL", 'http://localhost:' + port);
  location.reload();
}

function runOnline() {
  localStorage.setItem("runLocal", "false");
  location.reload();
}
</script>

<template>
  <h1>This might be deleted for production env.</h1>
  <!--To remove for production:-->

  <h3 class="mt-4">Use local testdata instead of API (test: {{ data.getTestdata() }})</h3>
  <button type="button" class="btn btn-success me-2" v-on:click="useTest(false)">
    Use API
  </button>
  <button type="button" class="btn btn-success me-2" v-on:click="useTest(true)">
    Use test
  </button>
  <h3 class="mt-4">Is the app running local or online?</h3>
  <button type="button" class="btn btn-success me-2" v-on:click="runLocal(3000)">
    local:3000
  </button>
  <button type="button" class="btn btn-success me-2" v-on:click="runLocal(8080)">
    local:8080
  </button>
  <button type="button" class="btn btn-success me-2" v-on:click="runOnline()">
    online
  </button>
</template>

<style>
.card-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>